[project]
name = "pythonchess"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "coverage>=7.13.1",
    "pytest>=9.0.2",
]
